* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: raleway, sans-serif;
}
article {
  img {
    width: 100%;
    height: auto;
  }
}
@mixin flex-wrapper($justify, $wrap) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-wrap: $wrap;
}
@mixin customShadow($size) {
  box-shadow: -$size $size 2px 0px rgba(128, 0, 0, 1),
    -2px 17px 16px 1px rgba(108, 91, 106, 1);
}
