@import "./global";
@import "./mediaQuery"; //nav part
nav {
  padding: 1rem 0.5rem;
  position: relative;
  background: rgb(35, 37, 42);
  color: whitesmoke;
  @include flex-wrapper(space-between, wrap);

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: tomato;
  }
  h1 {
    @include customShadow(3px);
    border: 1px solid whitesmoke;
  }
  ul {
    @include flex-wrapper(space-between, wrap);
    list-style-type: none;
  }
  li {
    &:hover {
      color: skyblue;
      cursor: pointer;
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

//search
.search {
  width: 80%;
  max-width: 800px;

  border: 1px solid royalblue;
  margin: 10px auto;
  height: 5vh;
  display: flex;

  input {
    flex-basis: 80%;
    padding: 5px;
  }
  button {
    flex-basis: 20%;
    padding: 5px;
  }
}

//articles
section.articles {
  display: grid;
  grid-gap: 2em;
  margin-top: 1em;
  //Media Query
  @include breakpoints(mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background: hotpink;

    article img {
      width: 100%;
      height: 400px;
    }
    .info {
      color: white;
      text: {
        align: center;
      }
    }
  }
  @include breakpoints(tablet) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background: sienna;
  }
  @include breakpoints(desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    background: rgb(35, 37, 42);

    article img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
    .info {
      color: rgb(201, 15, 15);
    }
  }

  article {
    background: sandybrown;
    @include customShadow(8px);
  }
  .info {
    padding: 10px;
    & > * {
      margin-bottom: 10px;
    }
  }
}
