//Imports
@import "reset";

//Variables
$deepclr: #974956;
$lightclr: #f5f5f5;
$clr1: #f14e0d;
$h1-size: 24px;
$banner-size: 46px;
//Mixins
@mixin clrfix {
  content: "";
  display: block;
  clear: both;
}
@mixin banner {
  width: 100%;
  position: relative;
  .banner-content {
    position: absolute;
    top: 50px;
    width: 100%;
  }
  img {
    width: 100%;
  }
  span {
    font-size: $banner-size;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
  }
  span.title {
    color: $deepclr;
    margin-bottom: 30px;
  }
}

#main-nav {
  background: $deepclr;

  ul {
    width: 100%;
  }
  li {
    float: left;
    width: 14%;
    // border: 1px solid white;
  }
  a {
    color: $lightclr;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 16px;
  }
}
#main-nav ul::after {
  @include clrfix;
}
section h1 {
  font-size: $h1-size;
  color: $clr1;
}
.lead-banner {
  border: 2px solid red;
  @include banner;
  text-align: right;
}
.lessons-banner {
  @include banner;
  .sub-title {
    color: whitesmoke;
  }
  li {
    color: seagreen;
    font-size: 24px;
    text-transform: uppercase;
    margin: 60px 0;
    max-width: 500px;
  }
}
