//Imports
@import "reset";
@import "variables";
@import "mixins";
@import "mQ";
#main-nav {
  background: $deepclr;

  ul {
    width: 100%;
  }
  li {
    float: left;
    width: (100% / 6);
    @include mq(320px) {
      width: 100%;
    }
    @include mq(768px) {
      width: (100% / 6);
    }
    // border: 1px solid white;
  }

  a {
    color: $lightclr;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 16px;
  }
}
#main-nav ul::after {
  @include clrfix;
}
section h1 {
  font-size: $h1-size;
  color: $clr1;
  text-align: center;
  margin: 20px 0;
}
.lead-banner {
  margin-top: 10px;
  @include banner;
  text-align: right;
}
.lessons-banner {
  @include banner;
  .title {
    @include mq(320px) {
      font-size: $mobileFont + 0.5;
    }
  }
  .sub-title {
    color: whitesmoke;
    @include mq(320px) {
      font-size: $mobileFont;
    }
  }
  li {
    color: seagreen;
    font-size: 24px;
    text-transform: uppercase;
    margin: 60px 0;
    max-width: 500px;
    @include mq(320px) {
      font-size: $mobileFont;
      margin: 5px 0;
    }
    @include mq(768px) {
      font-size: $tabletFont;
      margin: 25px 0;
      color: cornflowerblue;
    }
  }
}
#services {
  display: grid;
  place-content: center;
  background: gold;
  padding: 20px 0;
  margin: 30px 0;
  ul {
    // margin: 0 150px;
  }
  li {
    float: left;
    text-align: center;
    width: 100% / 3;
  }
  img {
    width: 60%;
    margin-bottom: 20px 20%;
  }
  a {
    display: block;
    color: sienna;
    @include mq2(600px, 768px) {
      text-decoration: none;
    }
  }
  ul:after {
    @include clrfix;
  }
}

#projects {
  ul {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 1rem;
    @include mq(320px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mq(320px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
