$width: 100px;

@for $i from 1 through 4 {
  .box#{$i} {
    width: $width;
    height: 100px * $i;
    background: red;
    margin-top: 10px;
  }
}
.box2 {
  background: limegreen;
}
.box3 {
  background: lightskyblue;
}
.box4 {
  background: powderblue;
}
