@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

$color-primary: #0e1111;
$color-primary-light: #232b2b;
$color-secondary: #353839;
$color-secondary-light: #3b444b;
$color-accent: #414a4c;

$color-text: #333;
$color-white: #fff;
$color-white-transparent: rgba($color-white, 0.8);

$button-border-radius: 0.5rem;
//reset
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
$tint: rgba($light, 0.3);
$tint2: rgba($light, 0.3);
//Font
$font-primary: "Lato", sans-serif;

html {
  font-size: 62.5%; //10px = 1rem
  box-sizing: border-box;

  @include responsive(mobile) {
    font-size: 43.75%; // 7px = 1rem
  }
  @include responsive(tablet) {
    font-size: 56.25%; //9px = 1rem
  }
  @include responsive(pc) {
    font-size: 50%; //8px = 1rem
  }
  @include responsive(four-k) {
    font-size: 75%; //12px = 1rem
  }
}

body {
  font-family: $font-primary;
  color: $blue;
  background-color: $gray-dark;
}
