$headingColor: #f14e0d;
$pcolor: blue;
$font-size: 2.5ch;
$mobile: 600px;
%test-h1 {
  text-align: center;
  font-weight: 800;
  color: green;
}
%test-p {
  color: $pcolor;
  font-weight: 600;
  font-size: $font-size;
}
@mixin test-p($color) {
  color: $color;
  font-weight: 600;
  font-size: $font-size;
}
@mixin test-h1($color) {
  text-align: center;
  font-weight: 800;
  color: $color;
}
@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}
body {
  background: black;
}
.one {
  h1 {
    @extend %test-h1;
    color: palevioletred;
  }
  p {
    // @extend %test-p;
    @include test-p(red);
    color: goldenrod;
  }
}
.two {
  h1 {
    // @extend %test-h1;
    @include test-h1(blue);
  }
  p {
    @extend %test-p;

    color: violet;
  }
}

@mixin flex($direction) {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: $direction;
  background: blueviolet;
  margin: 0 auto;
}
%container-p {
  width: 40%;
  color: White;
}
.container {
  @include flex(row);
  p {
    @extend %container-p;
  }

  @include mobile {
    padding: 5px;
    flex-direction: column;
    background: #f14e0d;
    align-items: center;

    & p {
      color: lighten(#000000, 80%);
      width: 100%;

      & span {
        color: darken(purple, 40%);
        font-weight: 600;
      }
    }
  }
}

.wrapper {
  @extend %container-p;
  @include flex(column);
  margin-top: 20px;
}
