* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: raleway, sans-serif;
}

article img {
  width: 100%;
  height: auto;
}

nav {
  padding: 1rem 0.5rem;
  position: relative;
  background: #23252a;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: tomato;
}

nav h1 {
  -webkit-box-shadow: -3px 3px 2px 0px maroon, -2px 17px 16px 1px #6c5b6a;
          box-shadow: -3px 3px 2px 0px maroon, -2px 17px 16px 1px #6c5b6a;
  border: 1px solid whitesmoke;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

nav li:hover {
  color: skyblue;
  cursor: pointer;
}

nav li:not(:last-child) {
  margin-right: 10px;
}

.search {
  width: 80%;
  max-width: 800px;
  border: 1px solid royalblue;
  margin: 10px auto;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search input {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  padding: 5px;
}

.search button {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding: 5px;
}

section.articles {
  display: -ms-grid;
  display: grid;
  grid-gap: 2em;
  margin-top: 1em;
}

@media screen and (min-width: 320px) {
  section.articles {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    background: hotpink;
  }
  section.articles article img {
    width: 100%;
    height: 400px;
  }
  section.articles .info {
    color: white;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  section.articles {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    background: sienna;
  }
}

@media screen and (min-width: 1068px) {
  section.articles {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    background: #23252a;
  }
  section.articles article img {
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section.articles .info {
    color: #c90f0f;
  }
}

section.articles article {
  background: sandybrown;
  -webkit-box-shadow: -8px 8px 2px 0px maroon, -2px 17px 16px 1px #6c5b6a;
          box-shadow: -8px 8px 2px 0px maroon, -2px 17px 16px 1px #6c5b6a;
}

section.articles .info {
  padding: 10px;
}

section.articles .info > * {
  margin-bottom: 10px;
}
/*# sourceMappingURL=main.css.map */