@import "colors";

.div-one {
  h1 {
    text-align: center;
    font-size: 15ch;
  }
  p {
    font-style: italic;
    font-size: 5ch;
  }
}
.div-two {
  h1 {
    text-align: center;
    font-size: 15ch;
  }
  p {
    font-style: italic;
    font-size: 5ch;
  }
}
